$canvas-color: black;
$canvas-width: 1920px;
$canvas-height: 1200px;

body,
html {
  padding: 0;
  margin: 0;
}

#canvas {
  background-image: url(img/landscape.jpg);
  min-width: $canvas-width;
  min-height: $canvas-height;
  z-index: 0;

  #start-container {
    position: fixed;
  }

  .graveyard-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 20vw;
    height: 15vh;
    background-color: rgba(87, 176, 194, 0.5);
    border: solid;
    border-top: 0;
    border-right: 0;
    z-index: 2;

    .graveyard-title {
      font-size: 10px;
      height: 25%;
      width: 100%;
      text-align: center;
    }

    .graveyard {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      height: 75%;
      width: 100%;
      margin: 10px;
    }
  }

  .bottom-info-bar {
    width: 100vw;
    height: 100px;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    margin-bottom: 1px;

    .info-container {
      display: flex;
      align-items: center;
    }

    p {
      margin-left: 20px;
      font-size: 40px;
      color: black;
    }
  }

  .tooltip {
    opacity: 0;
    font-family: 'Arial', 'sans-serif';
    z-index: 1;
    width: 500px;
    height: auto;
    color: white;
    background-color: green;
    padding: 5px;
    position: absolute;

    p {
      margin: 2px;
    }

    #tooltip-title-text {
      font-weight: bold;
      font-size: large;
    }
  }

  #start-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  h1 {
    font-family: 'Montserrat Medium', sans-serif;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  /* Text animation starts */

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  $animation-duration: 0.8s;
  $animation-delay: 0.1s;
  $animation-delay-increment: 0.1s;
  $animation-count: 24;

  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in $animation-duration forwards
      cubic-bezier(0.11, 0, 0.5, 0);

    @for $i from 1 through $animation-count {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay +
          $animation-delay-increment *
          ($i - 1);
      }
    }
  }

  /* Text animation ends */

  /*Start button*/
  #start-button {
    appearance: menulist-button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;

    &:hover {
      background-color: darkblue;
    }
  }

  .button-19:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .button-19,
  .button-19:focus {
    user-select: auto;
  }

  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  .button-19:disabled {
    cursor: auto;
  }
}
