$canvas-color: black;
$canvas-width: 1920px;
$canvas-height: 1200px;
$fuschia: #4393e4;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body,
html {
  padding: 0;
  margin: 0;
}

#canvas {
  background-image: url(img/landscape.jpg);
  min-width: $canvas-width;
  min-height: $canvas-height;
  position: absolute;

  #reset-button {
    appearance: menulist-button;
    border-radius: 16px;
    border-width: 0 0 4px;
    visibility: hidden;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    top: 0;
    left: 0;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 35px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;
    z-index: 3;

    &:hover {
      background-color: darkblue;
    }
  }

  .modal {
    background-color: #e8c859;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    display: flex;
    .left-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 50%;

      .title {
        font-family: 'Roboto', sans-serif;
      }

      .description {
        font-family: 'Roboto', sans-serif;
        width: 50%;
        margin-bottom: 0;
      }

      .madeby {
        font-family: 'Roboto', sans-serif;
        width: 50%;
        margin-bottom: 0px;
      }
    }
    .right-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 50%;

      .bee-container {
        margin-top: 20px;
        display: flex;
        gap: 70px;
        justify-content: center;

        #bee1 {
          opacity: 0.75;
        }

        #bee2 {
          opacity: 0.5;
        }

        #bee3 {
          opacity: 0.25;
        }
      }

      .extinct-rate {
        text-align: center;
      }

      .extinct-description {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-bottom: 50px;
      }

      .click-description-container {
        display: flex;
        margin-bottom: 48px;
        justify-content: space-between;
      }

      .click-description {
        font-family: 'Roboto', sans-serif;
        width: 50%;
        margin-right: 20px;
      }

      .img-click-container {
        width: 70%;
        display: flex;
        justify-content: center;
      }

      .temperature-description-container {
        display: flex;
        margin-bottom: 48px;
      }

      .temperature-description {
        font-family: 'Roboto', sans-serif;
        width: 50%;
      }

      .img-temperature-container {
        width: 90%;
        display: flex;
        justify-content: center;
      }

      .grave-description {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        margin-right: 100px;
      }

      .grave-description-container {
        display: flex;
        margin-bottom: 48px;
        width: 720px;
      }

      .img-grave-container {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
  }

  #canvas-smoke {
    width: $canvas-width;
    height: $canvas-height;
    position: fixed;
    bottom: 50px;
    left: -352px;
  }

  .graveyard-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 20vw;
    min-height: 15vh;
    background-color: rgba(112, 114, 114, 0.5);
    border: solid;
    border-radius: 8px;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;

    .graveyard {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto auto;
      height: 75%;
      width: 100%;
      margin: 10px;
    }
  }

  .bottom-info-bar {
    min-width: 14vw;
    height: 100px;
    background-color: transparent;
    position: fixed;
    border: solid;
    border-width: 10px;
    border-color: #757474;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #757474;
    font-family: 'Roboto', sans-serif;

    .chimney1 {
      position: fixed;
      filter: invert(43%) sepia(0%) saturate(1392%) hue-rotate(216deg)
        brightness(105%) contrast(86%);
      width: 150px;
      bottom: 124px;
      left: 120px;
    }

    .chimney2 {
      position: fixed;
      filter: invert(43%) sepia(0%) saturate(1392%) hue-rotate(216deg)
        brightness(105%) contrast(86%);
      width: 150px;
      bottom: 124px;
      left: 175px;
    }

    .roof1 {
      position: fixed;
      width: 100px;
      bottom: 120px;
      left: 10px;
    }

    .roof2 {
      position: fixed;
      width: 100px;
      bottom: 120px;
      left: 45px;
    }

    .car1 {
      position: fixed;
      filter: invert(43%) sepia(0%) saturate(1392%) hue-rotate(216deg)
        brightness(105%) contrast(86%);
      width: 135px;
      bottom: 108px;
      left: 500px;
    }

    .car2 {
      position: fixed;
      filter: invert(43%) sepia(0%) saturate(1392%) hue-rotate(216deg)
        brightness(105%) contrast(86%);
      width: 135px;
      bottom: 75px;
      right: 500px;
    }

    .car3 {
      position: fixed;
      filter: invert(43%) sepia(0%) saturate(1392%) hue-rotate(216deg)
        brightness(105%) contrast(86%);
      width: 135px;
      bottom: 70px;
      right: 200px;
    }

    .info-container {
      display: flex;
      align-items: center;
    }

    p {
      margin-left: 20px;
      font-size: 40px;
      color: white;
    }
  }

  .tooltip {
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: black;
    z-index: 3;
    width: 500px;
    height: auto;
    background-color: whitesmoke;
    padding: 5px;
    position: absolute;
    border-radius: 0.5em;

    p {
      word-wrap: normal;
      margin: 2px;
    }

    #tooltip-title-text {
      font-weight: bold;
      font-size: large;
    }

    #tooltip-type-text {
      font-style: italic;
      margin-bottom: 0.5em;
    }
  }

  #start-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  /* Text animation starts */

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  $animation-duration: 0.8s;
  $animation-delay: 0.1s;
  $animation-delay-increment: 0.1s;
  $animation-count: 24;

  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in $animation-duration forwards
      cubic-bezier(0.11, 0, 0.5, 0);

    @for $i from 1 through $animation-count {
      &:nth-child(#{$i}) {
        animation-delay: $animation-delay +
          $animation-delay-increment *
          ($i - 1);
      }
    }
  }

  /* Text animation ends */

  /*Start button*/
  #start-button {
    appearance: menulist-button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 20px;
    z-index: 3;

    &:hover {
      background-color: darkblue;
    }
  }

  //Button
  .bubbly-button {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 50px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: $button-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(#ed4d13, 0.5);

    &:focus {
      outline: 0;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }

    &.animate {
      &:before {
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after {
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }
  }
}
